:root {
  --main-bg: #f8f9fa;
  --primary-color: #ffffff;
  --primary-shade: #d4d4d4;
  --secondary-color: #362487;
  --accent-color: #565e64;
}

@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regula.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  padding-top: 70px; /* Add padding to compensate for the sticky navbar */
}

/* Sticky Navbar */
.navigation {
  height: 70px;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure navbar stays on top */
  box-shadow: 0 4px 6px rgba(97, 16, 151, 0.4); /* Subtle shadow for depth */
}

/* Logo and branding */
.brand {
  position: absolute;
  padding: 0 20px;
  float: left;
  line-height: 70px;
  text-transform: capitalize;
  font-size: 1.4em;
  font-weight: 800;
}

.brand a,
.brand a:visited {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Container with no padding for navbar */
.nav-container {
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* Navigation */
nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: var(--secondary-color);
  text-decoration: none;
  background-color: var(--primary-color);
  transition: all 0.3s ease; /* Smooth transition on hover */
}

nav ul li a:hover {
  color: var(--accent-color);
  transform: translateY(-3px); /* Subtle lift on hover */
}

nav ul li a.active {
  color: var(--accent-color);
}

/* Dropdown list */

.nav-dropdown {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 200px;
  background: var(--primary-color);
  /* border-radius: 8px; */
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  padding: 15px 20px;
  line-height: 1.2;
  white-space: nowrap; /* Prevents text wrapping */
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li:hover > .nav-dropdown {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Dropdown slides down smoothly */
}

nav ul li:hover > .nav-dropdown {
  display: block;
}

nav ul li:hover > a {
  color: var(--accent-color); /* Change color of parent link on hover */
}

.nav-dropdown.show {
  display: block;
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  height: 70px;
  width: 70px;
}

/* Hamburger menu button */
#nav-toggle {
  position: absolute;
  top: 22px;
  left: 5px;
  cursor: pointer;
  padding: 10px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: var(--secondary-color);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/* Overlay styles */
#overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Below the navbar but above the main content */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* When the overlay is active */
#overlay.show {
  display: block;
  opacity: 1;
}


.slide {
  margin: 0 auto;
}

.carousel-item {
  height: 90vh;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-1 {
  background-image: url("../images/vertical-large-sunset-ship.jpg");
}
.img-2 {
  background-image: url("../images/container-ship.jpg");
}
.img-3 {
  background-image: url("../images/container-ship-2.jpg");
}
.carousel-img {
  background-position: 50% 15%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.carousel-caption {
  z-index: 2;
  text-align: center;
  text-shadow: 3px 3px 20px #000000, -2px 1px 30px #000000;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.carousel-caption h1 {
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 65%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
  color: var(--primary-shade);
}
.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.navbar .getstarted {
  background: #106eea;
  margin-left: 30px;
  border-radius: 4px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  line-height: 2.3;
}

main {
  margin: 0 auto;
}

.fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}

main .welcome {
  height: 100%;
  width: 100%;
  background-color: var(--main-bg);
  border-radius: 5px;
  margin-top: 40px;
  padding: 3px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: ease-in-out 0.3s;
  border: 0.5px solid var(--secondary-color);
}

main .welcome:hover {
  background-color: #ffff;
}

main .welcome #welcome-heading {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
  margin: 25px 0;
  padding: 5px 0;
  /* border: 1px solid var(--secondary-color); */
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: 1px solid var(--secondary-color);
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/vector-ship.jpg");
  background-position: center;
  background-size: cover;
  color: var(--primary-color);
}

main .welcome #welcome-heading:hover {
  background-color: #ffffff;
  letter-spacing: 3px;
  border-bottom: 2px solid var(--secondary-color);
}

.welcome a {
  color: var(--primary-color);
  text-decoration: none;
}

main .welcome #welcome-brand {
  font-size: 1.5rem;
  letter-spacing: 0px;
  font-weight: 800;
  color: var(--primary-color);
}

main .welcome #welcome-bd-bold {
  font-weight: 900;
  letter-spacing: 0px;
  color: var(--primary-color);
}

main .welcome #welcome-p {
  text-align: justify;
  line-height: 1.8;
}

main .service {
  margin-top: 40px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: var(--main-bg);
  border: 0.5px solid var(--secondary-color);
}

main .service:hover .service-heading {
  background-color: white;
}

main .service .service-heading {
  text-align: center;
  --g: 10px; /* the gap */
  --b: 3px; /* border thickness*/
  --c: var(--secondary-color); /* the color */

  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
  background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
    var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b), var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: 0.3s;
  color: var(--accent-color);
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

main .service .service-heading:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

main .service .service-heading span {
  color: var(--secondary-color);
}

main .service .card {
  height: 280px;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-stretch: condensed;
  font-weight: 800;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

main .service .card:hover {
  border-radius: 10px;
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-i {
  transition: ease-in-out 0.3s;
}

main .service .card:hover .card-i {
  transform: scale(1.3);
}

main .service .card span {
  font-size: 2rem;
}

main .service .c1 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/ship-repair.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c1:hover {
}
main .service .c2 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-repair.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c3 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-ship-3.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c4 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container-ship-services.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c5 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/container.jpg");
  background-position: center;
  background-size: cover;
}
main .service .c6 {
  background: linear-gradient(rgba(44, 20, 124, 0.9), rgba(11, 21, 108, 0.8)),
    url("../images/loaded-ship.jpg");
  background-position: center;
  background-size: cover;
}

/* footer start */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    38deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(54, 36, 135, 1) 100%
  );
  margin-top: 50px;
  padding-top: 80px;
  padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer {
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
.single_footer p {
  color: #fff;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li {
}
.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: var(--primary-shade);
}

.single_footer_address {
}
.single_footer_address ul {
}
.single_footer_address ul li {
  color: #fff;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 40px;
}
.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profile ul li {
  float: left;
}
.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.social_profile:hover footer-i{
color: var(--secondary-color);
}
@media only screen and (max-width: 768px) {
  .carousel-item {
    height: auto;
  }
  .carousel-img {
    background-position: center;
    height: 85vh;
  }
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  nav  {
    
  }


  @media only screen and (max-width: 798px) {
    #overlay {
      display: none; /* Default for mobile */
    }
  
    nav ul.show {
      display: block; /* Ensure nav shows when toggled */
    }
  }
  
  
  .carousel-caption {
    padding-bottom: 6.25rem !important;
  }

  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption-p {
    display: none;
  }

  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.social_profile ul li a:hover {
  background: var(--primary-color);
  border: 1px solid black;
  color: black;
  border: 1px solid white;
  border-radius: 20%;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: var(--primary-color);
  text-decoration: none !important;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: var(--primary-shade);
}
/* footer end */

/* utility */

.bold {
  font-weight: 600;
}

/* Media For responsivity */

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: flex;


  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }

  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
    box-shadow: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  nav ul.show {
    display: block;
    background: var(--primary-color);
    padding: 0;
  }
}


@media only screen and (min-width: 100px) and (max-width: 700px) {
  .add-br {
      display: none;
  }
}
